* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    padding-top: 5%;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    width: 70px;
    height: auto;
}

.hero-image{
    width: 70%;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-buttons a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.nav-buttons .login {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text span {
    color: #007bff;
}

.hero-text p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #666;
}

.hero-buttons .btn {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
}

.hero-buttons .live-demo {
    background-color: #6c757d;
}

.hero-image img {
    max-width: 100%;
    border-radius: 10px;
    transform: rotate(-5deg);
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.feature-item {
    width: 30%;
    text-align: center;
    margin-bottom: 40px;
}

.feature-item img {
    max-width: 50px;
    margin-bottom: 20px;
}

.feature-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.feature-item p {
    color: #666;
}

.pricing {
    background-color: #f8f9fa;
    padding: 60px 20px;
    text-align: center;
}

.highlight {
    background-color: #f8f9fa;
    padding: 60px 20px;
    text-align: center;
}

.pricing h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.pricing p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #666;
}

.pricing-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    width: calc(33.333% - 20px); /* Three cards with 20px gap */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    margin-bottom: 20px;
}

.card h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.card ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.card ul li {
    margin-bottom: 10px;
}

.card a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e0e0e0;
}

.large-icon {
    font-size: 200px;
}

html {
    scroll-behavior: smooth;
}

.videos-container {
    display: flex;
    justify-content: space-around; /* Ajusta esto según tus necesidades de diseño */
    align-items: center; /* Centra los videos verticalmente */
    flex-wrap: wrap; /* Permite que los items se envuelvan en pantallas pequeñas */
    margin: 20px 0;
}

.video-container {
    flex: 1; /* Cada video toma igual espacio en el contenedor */
    padding: 10px; /* Espacio entre videos */
    max-width: 50%; /* Máximo 50% del ancho del contenedor padre */
}

iframe {
    width: 100%; /* El iframe toma todo el ancho de .video-container */
    height: 315px; /* Altura fija */
}

@media (max-width: 800px) {
    .video-container {
        max-width: 100%; /* En pantallas pequeñas, cada video toma el 100% del ancho */
    }
}
